/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Updated styling from old app.css */
.Chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0px auto 0px; /* Reduce the margin to move the logo up */
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
  justify-content: flex-start; /* Align items at the start */
  width: 70%; /* Increase the width */
  max-width: 1000px;
  flex-grow: 1;
  padding: 50px;
  box-sizing: border-box;
  margin: 1px auto; /* Reduce margin to use more of the UI */
  background-color: #fff8dc;
  border-radius: 10px;
  height: 60vh; /* Adjust this value to increase the height */
}

/* General styling for ConversationBox */
.conversation-box-public {
  background-color: lightblue; /* Public chatbot background color */
  border: 2px solid blue;
}

.conversation-box-internal {
  background-color: lightyellow; /* Internal chatbot background color */
  border: 2px solid green;
}

.conversation-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%; /* Full width within the container */
  height: 70vh; /* Adjust height as necessary */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  background-color: #bfcbd9;
  position: relative;
  margin-bottom: 10px; /* Reduce bottom margin to minimize gap */
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.user {
  background-color: #8ac4ff;
  align-self: flex-end;
  color: #000;
  border: 1px solid #000;
}

.bot {
  background-color: #191970;
  align-self: flex-start;
  color: #fff;
  border: 1px solid #000;
  position: relative;
}

.copy-button {
  position: absolute;
  font-size: 9px;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: #8ac4ff;
  color: #000;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bot-button {
  padding: 5px 10px;
  background-color: #004ba0;
  color: #fff;
  font-family: Arial, sans-serif;
  border: 1px solid #fff;
  border-radius: 5px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 80%; /* Full width within the container */
  padding: 20px;
  box-sizing: border-box;
  background-color: #bfcbd9;
  border-radius: 0 0 10px 10px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 80%;
}

.input-container input {
  flex: 1;
  padding: 10px; /* Increase padding */
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #8ac4ff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px 20px; /* Increase padding */
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #888;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

a {
  color: yellow;
}

a:visited {
  color: yellow;
}

.filenames {
  font-size: 9px;
  color: lightblue;
}

.spinner-conversation {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #888;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}
